body {
    @import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Sigmar&display=swap');
    padding: 0;
    margin: 0;
    background-color: #330033;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

html {
    scroll-behavior: smooth;
}

/*ESTILIZANDO LINKS DO TOPO*/
.block1 {
    background-image: url(fundo-block1.jpg);
}

.topo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}

.link-topo {
    list-style: none;
    position: absolute;
    right: 39px;
    top: -5px;
    margin-left: 10px;
}

.link-topo li {
    position: relative;
    float: left;
}

.link-topo li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.link-topo li a:hover {
    background: #333;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.link-topo li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.link-topo li:hover ul,
.link-topo li.over ul {
    display: block;
    opacity: 1;
}

.link-topo li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}

.letra-personalizada {
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 6s steps(30) infinite alternate,
        blink 200ms steps(1) infinite normal;
    border-right: 2px solid rgb(253, 253, 253);
}

.letra-personalizada::after {
    content: "😎";
    animation: none;
}





@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 89%;
    }
}

@keyframes blink {
    from {
        border-color: rgb(255, 255, 255);
    }

    to {
        border-color: transparent;
    }
}

/*apresentação*/
.apresentacao {
    width: 350px;
    position: relative;
    bottom: -210px;
    left: 50px;
    font-size: 20px;
    font-weight: bold;
}

.NomePersonalizado {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px,
        #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px,
        #FF2D95 0px 0px 75px, 9px -39px 0px rgba(88, 33, 206, 0), 9px -39px 0px rgba(88, 33, 206, 0);
    color: #FFFFFF;
    font-weight: bold;
    color: rgb(89, 0, 255);
    font-size: 30px;
}


.meu-home p {
    font-weight: bold;
}

/*MINHA IMAGEM*/
.logo-eu {
    position: relative;
    border-radius: 50%;
    right: -90vh;
    top: -50px;
    transform: translateY(0px);
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

/*Lista de navegação*/
.lista-bolinhas {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista-bolinhas img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #a200ff;
    transition: background-color 0.3s ease;
    -moz-box-shadow: 0 00px 900px 0 #ffffff;
    -webkit-box-shadow: 0px 10px 30px 0 #ffffff;
    text-shadow: 0px 10px 5px #ffffff;
}

.lista-bolinhas li:last-child {
    margin-bottom: 0;
}

.lista-bolinhas li a {
    display: block;
    width: 100%;
    height: 100%;
}

.lista-bolinhas li a:hover {
    cursor: pointer;
}

.lista-bolinhas li a:focus,
.lista-bolinhas li a.active {
    outline: none;
    background-color: #fdfdfd00;
}

/*Sobre Mim*/
.info h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    color: #dcb5f7;
    font: bolder;
    -moz-box-shadow: 0 20px 140px 0px #4800f1;
    -webkit-box-shadow: 0 50px 200px 0 #f8f5f5;
    text-shadow: 0px 0px 5px #9a2df3;

}

.info {
    background: no-repeat url(fundo-info.jpg);
    margin-top: -29.5px;
    width: 100%;
    height: 100vh;
}

.astronauta {
    position: sticky;
    left: 95vh;
    top: 20vh;
}

.descricao1 h3 {
    text-align: center;
    font-size: 50px;
    position: relative;
    bottom: 50px;
    color: #710af7;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px,
        #FF2D95 0px 0px 30px, #992dff 0px 0px 40px, #FF2D95 0px 0px 50px,
        #FF2D95 0px 0px 75px, 9px -39px 0px rgba(88, 33, 206, 0), 9px -39px 0px rgba(88, 33, 206, 0);
    color: #FFFFFF;
    font-weight: bold;
    color: rgb(89, 0, 255);

}

.descricao1 p {
    text-align: center;
    position: relative;
    bottom: 85px;
    font-size: 20px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-family: 'Sigmar', cursive;

}

.descricao1 {
    position: relative;
    bottom: 10rem;
    width: 40rem;
    height: 38rem;
    border: 1px solid rgb(63, 2, 143);
}


/*descricao 2*/
.descricao2 h3 {
    text-align: center;
    font-size: 50px;
    position: relative;
    bottom: 50px;
    color: #710af7;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px,
        #FF2D95 0px 0px 30px, #992dff 0px 0px 40px, #FF2D95 0px 0px 50px,
        #FF2D95 0px 0px 75px, 9px -39px 0px rgba(88, 33, 206, 0), 9px -39px 0px rgba(88, 33, 206, 0);
    color: #FFFFFF;
    font-weight: bold;
    color: rgb(89, 0, 255);

}

.descricao2 p {
    text-align: center;
    position: relative;
    bottom: 50px;
    font-size: 20px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-family: 'Sigmar', cursive;

}

.descricao2 {
    position: relative;
    left: 48.5rem;
    bottom: 48.1rem;
    width: 32.4rem;
    height: 38rem;
    border: 1px solid rgb(63, 2, 143);
}



.infomarcoesh2 {
    text-align: center;
    font-size: 50px;
    position: relative;
    bottom: 15vh;
    color: #710af7;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px,
        #FF2D95 0px 0px 30px, #992dff 0px 0px 40px, #FF2D95 0px 0px 50px,
        #FF2D95 0px 0px 75px, 9px -39px 0px rgba(88, 33, 206, 0), 9px -39px 0px rgba(88, 33, 206, 0);
    color: #FFFFFF;
    font-weight: bold;
    color: rgb(89, 0, 255);
}
.contato li p {
    text-align: center;
    position: relative;
    bottom: 20vh;
    font-size: 22px;
    line-height: 40px;
    color: rgb(255, 255, 255);
}

/*Habilidades 1*/

.habilidades1 li {
    display: inline-flex;
    text-align: center;
    vertical-align: top;
    position: relative;
    bottom: 191vh;
    left: 35px;
}

.skill1 {
    position: relative;
    left: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.skill1 img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.skill-name1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.progress-bar1 {
    background-color: #ddd;
    height: 10px;
    margin-bottom: 20px;
}

.progress-bar1::after {
    content: "";
    display: block;
    background-color: #4CAF50;
    height: 100%;
    width: 0%;
    animation: skill-level 1s ease-in-out forwards;
}

@keyframes skill-level {
    from {
        width: 0%
    }

    to {
        width: var(--level)
    }
}

.level1 {
    display: flex;
    font-size: 12px;
    text-align: center;
}

.skill1 span {
    font-size: 20px;
}

/*Habilidades 2*/
.habilidades2 li {
    display: inline-flex;
    text-align: center;
    vertical-align: top;
    position: relative;
    bottom: 90vh;
    left: 35px;
}

.skill2 {
    position: relative;
    left: 30vw;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.skill2 img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.skill-name2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.progress-bar2 {
    background-color: #ddd;
    height: 10px;
    margin-bottom: 20px;
}

.progress-bar2::after {
    content: "";
    display: block;
    background-color: #4CAF50;
    height: 100%;
    width: 0%;
    animation: skill-level 1s ease-in-out forwards;
}

@keyframes skill-level {
    from {
        width: 0%
    }

    to {
        width: var(--level)
    }
}

.level2 {
    display: flex;
    font-size: 12px;
    text-align: center;
}

.skill2 span {
    font-size: 20px;
}



/*Primeiro Projeto */
.Projetos1{
    background: no-repeat url(fundo-projeto.jpg);
    margin-top: -25px;
    width: 100%;
    height: 100vh;
}
.projetos1 iframe {
    display: inline-flex;
}


.Projetos1 h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    color: #dcb5f7;
    font: bolder;
    -moz-box-shadow: 0 20px 140px 0px #4800f1;
    -webkit-box-shadow: 0 50px 200px 0 #f8f5f5;
    text-shadow: 0px 0px 5px #9a2df3;

}

.projetos1 {
    max-width: 900px;
    margin: 0 auto;
}

.projeto1 {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    top: 2vh;
}


.projeto1 iframe {
    width: 102%;
    height: 498px;
    border: none;
    position: relative;
    right: 9px;
    bottom: 1vh;

}

.botao-projeto1 {
    position: relative;
    bottom: 2px;
    right: 1%;
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 62.7vw;
    text-align: center;
}

.botao-projeto1:hover {
    background-color: #05a771;
}

.projeto1 a {
    font-size: 20px;
}



/*Segundo Projeto*/
.Projetos2{
    background:url(fundo-projeto.jpg);
    margin-top: -25px;
    width: 100%;
    height: 100vh;
}
.projetos2 iframe {
    display: inline-flex;
}


.Projetos2 h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    color: #dcb5f7;
    font: bolder;
    -moz-box-shadow: 0 20px 140px 0px #4800f1;
    -webkit-box-shadow: 0 50px 200px 0 #f8f5f5;
    text-shadow: 0px 0px 5px #9a2df3;

}

.projetos2 {
    max-width: 900px;
    margin: 0 auto;
}

.projeto2{
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    top: 2vh;
}


.projeto2 iframe {
    width: 102%;
    height: 498px;
    border: none;
    position: relative;
    right: 9px;
    bottom: 1vh;

}

.botao-projeto2 {
    position: relative;
    bottom: 2px;
    right: 1%;
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 62.7vw;
    text-align: center;
}

.botao-projeto2:hover {
    background-color: #05a771;
}

.projeto2 a {
    font-size: 20px;
}
/*Terceiro Projeto */
/*Responsivo*/